#formBody {
  background: #131212f1;
  max-width: 29rem;
  height: auto;

  .topLogo {
    width: 12rem;
  }
  .btnSuccess {
    color: #ff0043;
    border: 1px solid #ff0043;

    &:hover {
      background: #ff0043;
      color: #fff;
    }
  }

  @media screen and (max-width: 830px) {
    width: 23rem;
  }
  @media screen and (max-width: 450px) {
    width: 18rem;
  }
}
