* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}
body {
  background: url('../assets/backgroundLp.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  color: #fff;
}
